@tailwind base;
@tailwind components;
@tailwind utilities;

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@media (min-width: 1024px) {
  .get-screen {
    min-height: calc(100vh - 10rem);
  }
}

.vertical-ratio {
  aspect-ratio: 11 / 16;
}
.tv-ratio {
  aspect-ratio: 4 / 3;
}

.containerGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  gap: 24px;
}
